<h1>Notes:</h1>
<a href='/notes/new'>add note</a>

<%if @user.notes.empty?%>
<p>You do not have notes. <a href='/notes/new'>Create some?</a>
<%else%>
<%@user.notes.each do |note|%>
<div class='content'>
<h3><a href='/notes/<%=note.title%>'><%=note.title%></a></h3>
<p><%=note.user_company.name%></p>
<p><%=note.description%></p><br>
<a href='/notes/<%=note.title%>/edit'>edit</a>
<a href='/notes/<%=note.title%>/delete'>delete</a>
</div>
<%end%>
<%end%><br><br>