<h1><%=@task.title%></h1>

<p><%=@task.user_company.name%></p>
<p><%=@task.description%></p>
<p><%=@task.deadline%></p><br>

<h1>Mark task as completed:</h1>

<label for='completed?'>Complete</label>
<input type='radio' name='completed?' id='completed?' value='true'><br><br>

<h2>Edit Task:</h2>

<p>Choose associated company of this task:</p>


<form action='/tasks/<%=@task.title%>/edit' method='post'>
<input type='hidden' name='_method' value='patch'>

<%@user.user_companies.each do |c|%>
<label for='user_company'><%=c.name%></label>
<input type='radio' name='user_company' id='user_company' value='<%=c.name%>' placeholder='enter associated company of this task'><br>
<%end%><br><br>

<label for='title'>*Name of Task: </label>
<input type='text' name='task[title]' id='title' placeholder='enter new title of task' required><br><br>

<label for='content'>*Content of task: </label>
<input type='textbox' name='task[description]' id='content' placeholder='enter new content of task' required><br><br>

<label for='deadline'>*Dealine of task: </label>
<input type='datetime-local' name='task[deadline]' id='content' required><br><br>

<input type='submit' id='submit' value='Edit task'>
</form>

<h1>Delete task entirely?</h1>

<form action='/tasks/<%=@task.title%>/delete' method='post'>
<input type='hidden' name='_method' value='delete'>
<input type='submit' id='submit' value='Delete task'>
</form>

