<h1>Tasks:</h1>
<%if @user.tasks.empty?%>
<p>You do not have tasks. <a href='/tasks/new'>Create some?</a>
<%else%>
<%@user.tasks.each do |task|%>
<div class='content'>
<h3><a href="/tasks/<%=task.title%>"><%=task.title%></a></h3>
<p><%=task.user_company.name%></p>
<p><%=task.description%></p>
<p><%=task.deadline%></p><br>
<a href="/tasks/<%=task.title%>">edit</a>
<a href="/tasks/<%=task.title%>/delete">delete</a>
</div>
<%end%>
<%end%>