<h1>Edit Your Company</h1>

<h2>Current Company Attributes:</h2>
<h1><%=@user_company.name%></h1>
<p>Address: <%=@user_company.city + ", " + @user_company.state + ". " + @user_company.address + " " + @user_company.zip_code.to_s%></p>
<p>Industry: <%=@user_company.industry%></p>
<%if @user_company.client_companies.empty?%>
<p><a href='/client-companies/new'>add client companies</a></p>
<%else%>
<%@user_company.client_companies.each do |cc|%>
<p>Client Company Associations:
<%=cc.name + ", " + cc.discount.to_s + '% discount'%>
<%end%>
<%end%><br><br>

<h2>Fill out form:</h2>

<form action='/my-companies/<%=@user_company.name%>/edit' method='post'>
<input type='hidden' name='_method' value='patch'>

<label for='name'>*Company Name: </label>
<input type='text' name='user_companies[name]' id='name' placeholder='enter the company name' required><br><br>

<label for='job_title'>*Your Company Job Title: </label>
<input type='text' name='user[user_job_title]' id='job_title' placeholder='enter the company job title' required><br><br>

<label for='state'>State: </label>
<input type='text' name='user_companies[state]' id='state' placeholder='enter the state'><br><br>

<label for='city'>City: </label>
<input type='text' name='user_companies[city]' id='city' placeholder='enter the city'><br><br>

<label for='zip_code'>Zip_code: </label>
<input type='text' name='user_companies[zip_code]' id='zip_code' placeholder='enter the zip_code'><br><br>

<label for='address'>Address: </label>
<input type='text' name='user_companies[address]' id='address' placeholder='enter the address'><br><br>

<p>industry: </p>
<%Industry.new.industries_list.each do |industry|%>

<label for='industry_list'><%=industry%></label>
<input type='checkbox' name='user_companies[industry]' id='industry_list' value="<%=industry%>"><br><br>


<%end%><br>

<input type='submit' value='Submit'><br><br>

</form>