<h3 class='logo'><a href='/users/<%=@user.slugged_username%>/all'>Home</a></h3>

<div class='navbar'>
  <a href="/notes/all">Notes</a>
  <a href="/tasks/all">Tasks</a>
  <a href="/users/<%=@user.slugged_username%>/all">Notifications</a>

  <a href="/clients/all">Clients</a>
  <a href="/client-companies/all">Client Companies</a>
  <a href="/my-companies/all">My Businessees</a>

  <a href="/profiles/<%=@user.slugged_username%>">Profile</a>
  <a href="/settings/all">Settings</a>
  <a href="/logout">Logout</a>
</div>

<h1>My Companies</h1>
<a href='/my-companies/new'>add a company</a><br><br>
<%@user.user_companies.each do |c|%>
<h3><a href='/my-companies/<%=c.id%>'><%=c.name%></a></h3>
<p>Address: <%=c.city + ", " + c.state + ". " + c.address + " " + c.zip_code.to_s%></p>
<p>Industry: <%=c.industry%></p>
<p>Client Company Associations:</p>
<%if c.client_companies.empty?%>
<p><a href='/client-companies/new'>add client companies</a></p>
<%else%>
<%c.client_companies.each do |cc|%>
<a href='/client-companies/<%=cc.name%>'><%=cc.name + "--  "%></a><%=cc.discount.to_s + '% discount'%><br>
<%end%>
<%end%><br>
<a href='/my-companies/<%=c.id%>/edit'>Edit</a>
<a href='/my-companies/<%=c.id%>/delete'>Delete</a><br><br><br>
<%end%>
