<br><br><div class='content'>
<h1><%=@user_company.name%></h1>
<p>Address: <%=@user_company.city + ", " + @user_company.state + ". " + @user_company.address + " " + @user_company.zip_code.to_s%></p>
<p>Industry: <%=@user_company.industry%></p>
<%if @user_company.client_companies.empty?%>
<p><a href='/client-companies/new'>add client companies</a></p>
<%else%>
<%@user_company.client_companies.each do |cc|%>
<p>Client Company Associations:
<%=cc.name + ", " + cc.discount.to_s + '% discount'%>
<%end%>
<%end%><br>
<a href='/my-companies/<%=@user_company.id%>/edit'>Edit</a>
<a href='/my-companies/<%=@user_company.id%>/delete'>Delete</a><br><br><br>
</div>