<h1>Nice to meet you, <%=@user.first_name%>!</h1>

<h2>Enter your Company Information</h2>
<h3>Part 2/3:</h3>

<h2>Forms with "*" are required</h2><br>

<h2>Also, more companies can be added later</h2><br>

<form action='/signup/user_company/<%=@user.id%>' method='post'>

<%i=0%>

<% @number_of_user_companies.to_i.times do %>

<%i+=1%>

<h3>Company #<%=i%></h3>

<label for='name'>*Company Name: </label>
<input type='text' name='user_companies[][name]' id='name' placeholder='enter the company name' required><br><br>

<label for='job_title'>*Your Company Job Title: </label>
<input type='text' name='user[][user_job_title]' id='job_title' placeholder='enter the company job title' required><br><br>

<label for='state'>State: </label>
<input type='text' name='user_companies[][state]' id='state' placeholder='enter the state'><br><br>

<label for='city'>City: </label>
<input type='text' name='user_companies[][city]' id='city' placeholder='enter the city'><br><br>

<label for='zip_code'>Zip_code: </label>
<input type='text' name='user_companies[][zip_code]' id='zip_code' placeholder='enter the zip_code'><br><br>

<label for='address'>Address: </label>
<input type='text' name='user_companies[][address]' id='address' placeholder='enter the address'><br><br>

<p>industry: </p>
<%Industry.new.industries_list.each do |industry|%>

<label for='industry_list'><%=industry%></label>
<input type='checkbox' name='user_companies[][industry]' id='industry_list' value='<%=industry%>'><br><br>

<%end%>

<% end %><br>

<input type='submit' value='Next'><br><br>

</form>

<!-- create_table "user_companies", force: :cascade do |t|
    t.string "name"
    t.string "state"
    t.string "city"
    t.integer "zip_code"
    t.string "address"
    t.string "industry"
    t.string "market"
    t.integer "user_id"
  end -->