<h2>Enter your Client's Company Information</h2>

<h2>Forms with "*" are required</h2><br>

<form action='/client/<%=@client.slugged_name%>/edit/company' method='post'>
<input type='hidden' name='_method' value='patch'>

<%i=0%>

<% @num.to_i.times do unless @num==nil || @num==0%>

<%i+=1%>

<h3>Company #<%=i%></h3>

<p>Choose associated company:</p>
<%@user.user_companies.each do |c|%>
<label for='user_company'><%=c.name%></label>
<input type='radio' name='user_company' id='user_company' value='<%=c.name%>' required><br>
<%end%><br><br>

<label for='name'>*Company Name: </label>
<input type='text' name='client_companies[][name]' id='name' placeholder='enter the company name' required><br><br>

<label for='job_title'>*<%=@client.first_name + " " + @client.last_name%> Company Job Title: </label>
<input type='text' name='client[][client_job_title]' id='job_title' placeholder='enter the company job title' required><br><br>

<label for='name'>Company Discount: %</label>
<input type='number' name='client_companies[][discount]' id='name' placeholder='enter the company discount'><br><br>

<label for='state'>State: </label>
<input type='text' name='client_companies[][state]' id='state' placeholder='enter the state'><br><br>

<label for='city'>City: </label>
<input type='text' name='client_companies[][city]' id='city' placeholder='enter the city'><br><br>

<label for='zip_code'>Zip_code: </label>
<input type='text' name='client_companies[][zip_code]' id='zip_code' placeholder='enter the zip_code'><br><br>

<label for='address'>Address: </label>
<input type='text' name='client_companies[][address]' id='address' placeholder='enter the address'><br><br>

<p>industry: </p>
<%Industry.new.industries_list.each do |industry|%>

<label for='industry_list'><%=industry%></label>
<input type='checkbox' name='client_companies[][industry]' id='industry_list' value='<%=industry%>'><br><br>

<%end%>
<%end%>
<%end%><br>

<h3>Select existing companies for association if applicable:</h3>

<% @user.client_companies.each do |company| %>

<% if @client.client_companies.include?(company)%>
<h3>Current Companies: </h3>
<%=company.name%>
<%else%>

<h2>Add Company:</h2>
<label for='current_companies'><%=company.name%></label>
<input type='checkbox' name='current_companies[company_name]' id='current_companies' value='<%=company.name%>'><br>

<label for='current_company_title'>Title: </label>
<input type='text' name='current_companies[titles]' id=current_company_title placeholder='Enter <%=@client.first_name + " " + @client.last_name%> title'><br><br>

<%end%>
<%end%><br><br>

<input type='submit' value='Change Client'><br><br>

</form>