<br><br><div class='content'>
<h1><%=@client.first_name + " " + @client.last_name%></h1>
<p>Job Title: <%=@client.client_job_titles.first.name%></p>
<p>Email: <%=@client.email%></p>
<p>Companies: <br><br><%@client.client_companies.each do |c|%>
<a href='/client-companies/<%=c.name%>'><%=c.name%></a><br><br>
<%end%>
</div>

<h2>Edit:</h2>

<form action='/clients/<%=@client.slugged_name%>/edit' method='post'>
<input type='hidden' name='_method' value='patch'>

<label for='first_name'>First Name: </label>
<input type='text' name='client[first_name]' id='first_name' placeholder='Enter client first name' required><br><br>

<label for='last_name'>Last Name: </label>
<input type='text' name='client[last_name]' id='last_name' placeholder='Enter client last name' required><br><br>

<label for='email'>Email: </label>
<input type='text' name='client[email]' id='email' placeholder='Enter client email' required><br><br>

<p>If your client's company, or companies, have not been previously registered, enter the number of companies you need to create and associate with them: </p>
<input type='number' name='number_of_new_client_companies' placeholder='Enter "0" if none.'><br><br>
<p>If there are no new businesses to register, enter "0" and click 'Next' to select the businesses you would like to associate with this client.</p>
<input type='submit' id='submit' value='Next'>

</form>