<h3 class='logo'><a href='/users/<%=@user.slugged_username%>/all'>Home</a></h3>

<div class='navbar'>
  <a href="/notes/all">Notes</a>
  <a href="/tasks/all">Tasks</a>
  <a href="/users/<%=@user.slugged_username%>/all">Notifications</a>

  <a href="/clients/all">Clients</a>
  <a href="/client-companies/all">Client Companies</a>
  <a href="/my-companies/all">My Businessees</a>

  <a href="/profiles/<%=@user.slugged_username%>">Profile</a>
  <a href="/settings/all">Settings</a>
  <a href="/logout">Logout</a>
</div>

<h1><%=@client.first_name + " " + @client.last_name%></h1>
<p>Job Title: <%=@client.client_job_titles.first.name%></p>
<p>Email: <%=@client.email%></p>
<p>Companies: <%@client.client_companies.each do |c|%>
<%=c.name%>
<%end%>

<h2>Edit:</h2>

<form action='/clients/<%=@client.slugged_name%>/edit' method='post'>
<input type='hidden' name='_method' value='patch'>

<label for='first_name'>First Name: </label>
<input type='text' name='client[first_name]' id='first_name' placeholder='Enter client first name' required><br><br>

<label for='last_name'>Last Name: </label>
<input type='text' name='client[last_name]' id='last_name' placeholder='Enter client last name' required><br><br>

<label for='email'>Email: </label>
<input type='text' name='client[email]' id='email' placeholder='Enter client email' required><br><br>

<p>If your client's company, or companies, have not been previously registered, enter the number of companies you need to create and associate with them: </p>
<input type='number' name='number_of_new_client_companies' placeholder='please enter a number'><br><br>
<p>If there are no new businesses to register, click 'Next' to select the businesses you would like to associate with this client.</p>
<input type='submit' id='submit' value='Next'>

</form>