<h1>Clients:</h1>

<%if @user_clients.empty?%>
<p>You do not have clients. <a href='/clients/new'>Add some?</a></p>
<%else%>
<a href='/clients/new'>Add clients.</a>
<%@user_clients.each do |client|%>
<div class='content'>
<h2><a href='/clients/<%=client.slugged_name%>/edit'><%=client.first_name + " " + client.last_name%></a></h2>
<p>Email: <%=client.email%></p>
<%if client.client_companies.empty?%>
<p>Companies:</p>
<p>There are no companies associated with this client</p>
<%else%>
<p>Companies:<br><br><br><%client.client_companies.each do |client_company|%>
<h3><a href='/client-companies/<%=client_company.name%>'><%=client_company.name%></a></h3>
<%client_company.client_job_titles.each do |title|%>
<%if title.client_id == client.id %>
<p>Company Title: <%=title.name%></p>
<a href='/clients/<%=client.slugged_name%>/remove_company/<%=client_company.name%>'>remove company</a><br>
<%end%>
<%end%><br>
<%end%><br>
<%end%>
<a href='/clients/<%=client.slugged_name%>/edit'>edit</a>
<a href='/clients/<%=client.slugged_name%>/delete'>delete</a>
</div>
<%end%>
<%end%><br><br>