<h1>Edit Client's Company</h1>

<h2>Current Company Attributes:</h2>
<h1><%=@client_company.name%></h1>
<p>Address: <%=@client_company.city + ", " + @client_company.state + ". " + @client_company.address + " " + @client_company.zip_code.to_s%></p>
<p>Industry: <%=@client_company.industry%></p>
<p>User Company Association: <%=@client_company.user_company.name%></p>
<%if @client_company.clients.empty?%>
<p><a href='/clients/new'>add clients</a></p>
<%else%>
<%@client_company.clients.each do |c|%>
<p>Clients:
<%=c.first_name + " " + c.last_name%><br>
<%=c.email%><br>
<%end%>
<%end%><br><br>

<h2>Fill out form:</h2>

<form action='/client-companies/<%=@client_company.name%>/edit' method='post'>
<input type='hidden' name='_method' value='patch'>

<p>Choose associated company:</p>
<%@user.user_companies.each do |c|%>
<label for='user_company'><%=c.name%></label>
<input type='radio' name='user_company' id='user_company' value="<%=c.name%>" required><br>
<%end%><br><br>

<label for='name'>*Company Name: </label>
<input type='text' name='client_companies[name]' id='name' placeholder='enter the company name' required><br><br>

<label for='state'>State: </label>
<input type='text' name='client_companies[state]' id='state' placeholder='enter the state'><br><br>

<label for='city'>City: </label>
<input type='text' name='client_companies[city]' id='city' placeholder='enter the city'><br><br>

<label for='zip_code'>Zip_code: </label>
<input type='text' name='client_companies[zip_code]' id='zip_code' placeholder='enter the zip_code'><br><br>

<label for='address'>Address: </label>
<input type='text' name='client_companies[address]' id='address' placeholder='enter the address'><br><br>

<label for='industry_list'>Choose an industry:</label>

<select name="user_companies[industry]" id="industry_list">
  <%Industry.new.industries_list.each do |industry|%>
    <option value="<%=industry%>"><%=industry%></option>
  <%end%>
</select><br><br>

<input type='submit' value='Submit'><br><br>

</form>