<h1><%=@client_company.name%></h1>
<p>Address: <%=@client_company.city + ", " + @client_company.state + ". " + @client_company.address + " " + @client_company.zip_code.to_s%></p>
<p>Industry: <%=@client_company.industry%></p>
<p>User Company Association: <%=@client_company.user_company.name%></p>
<p>Discount: <%=@client_company.discount.to_s + '%'%><br><br>

<%if !@client_company.clients.empty?%>
<h3>Clients: </h3>
<%@client_company.clients.each do |c|%>
<div class='content'>
<p>Client: <a href='/clients/<%=c.slugged_name%>/edit'><%=c.first_name + " " + c.last_name%></a></p>
<p>Email: <%=c.email%></p><br>
<%end%>
</div>
<%else%>
<p><a href='/clients/new'>Add clients</a></p>
<%end%>