<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Accounted For">
  <title>Accounted For</title>
</head>
<header>
<div class='navbar'>
<a class='logo' href='/users/<%=@user.slugged_username%>/all'><img class='logo' src="/img/logo.png"></a>
  <a class='nav-text' href="/notes/all">Notes</a>
  <a class='nav-text' href="/tasks/all">Tasks</a>

  <a class='nav-text' href="/clients/all">Clients</a>
  <a class='nav-text' href="/client-companies/all">Client Companies</a>
  <a class='nav-text' href="/my-companies/all">My Businessees</a>

  <a class='nav-text' href="/users/<%=@user.slugged_username%>/profile">Profile</a>
  <a class='nav-text' href="/logout">Logout</a>
</div><br><br>
</header>


<style>
  .navbar {
    font-size: 1.1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 0;
    background-color: white;
  }

  body {
    height: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("/img/background-home.jpg");
}

  form {
    margin: auto;
    width: 35%;
    padding: 25px;
    border: 1px solid black;
    border-radius: 25px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  

  .content {
    margin: auto;
    width: 35%;
    padding: 25px;
    border: 1px solid black;
    border-radius: 25px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .content-index {
    margin: auto;
    width: 85%;
    padding: 25px;
    border: 1px solid black;
    border-radius: 25px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .scroll-content {
    padding-left: 1%;
  }

  .index-header {
    margin: auto;
    width: 50%;
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
  }

  a:link {
    text-decoration: none;
    background-color: #F8F8F8;
    border-radius: 10%;
    color: black;
  }

  a:visited {
    text-decoration: none;
    background-color: #F8F8F8;
    border-radius: 10%;
    color: black;
  }

  a:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: #F8F8F8;
    border-radius: 10%;
    color: black;
  }

  a:active {
    text-decoration: underline;
    background-color: #F8F8F8;
    border-radius: 10%;
    color: black;
  }

  .nav-text {
    color: black;
    border-radius: 10%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
  }

  .box-link {
    padding-left: 50px;
  }

  .logo {
    width: 80px;
    height: auto;
    padding: 0px;
  }

  h2 {
    margin: auto;
    width: 50%;
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
  }

  h3 {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
  }

  footer {
  position: fixed;
  text-align: center;
  bottom: 0; 
  width: 100%;
  background-color: #E8E8E8;
}

.flash-message {
  width: 100%;
  background-color: #90ee90;
  text-align: center;
}

.flash-warning {
  width: 100%;
  background-color: #FFFF66;
  text-align: center;
}
.flash-fatal {
  width: 100%;
  background-color: #ff6347;
  text-align: center;
}
</style>

<%if !flash.empty?%>
  <%flash.each do |name, message|%>
  <div class='flash-<%=name%>'>
  <strong><%=message%></strong>
  </div>
  <%end%>
<%end%>

<%=yield%>

<br><br><footer>&#169; 2021 <strong>Accounted For</strong></footer>